<form>
    <!-- FIRSTNAME -->
    <fieldset> 
        <label for="">Firstname </label>
        <input type="text" name="firstname" id="firstname">
    </fieldset>
    <div>
        
    </div>


    <!-- LASTNAME -->
    <fieldset> 
        <label for="">Lastname </label>
        <input type="text" name="Lastname" id="Lastname">
    </fieldset>
    <div>
        
    </div>


    <!-- AGE -->
    <fieldset> 
        <label for="">Age </label>
        <input type="text" name="age" id="age">
    </fieldset>
    <div>
        
    </div>


    <!-- GENDER -->
    <fieldset> 
        <label for="">Gender </label>
        <input type="text" name="gender" id="gender">
    </fieldset>
    <div>
        
    </div>


    <!-- BIO -->
    <fieldset> 
        <label for="">Bio </label>
        <input type="text" name="bio" id="bio">
    </fieldset>
    <div>
        
    </div>

<app-skill></app-skill>

</form>